.dropdown {
  position: relative;
}

.trigger {
  width: 160px;
  height: 43px;
  padding: 10px 15px;

  font-size: 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 7px 3px #478fb5;

  overflow: hidden;
  cursor: pointer;

  background-color: #157b7b;
  color: #f0f8ff;

  transition: transform 250ms linear;
}

.trigger:hover,
.trigger:focus {
  transform: scale(1.03);
}

.dropdownMenu {
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: #3679b3;
  border-radius: 6px;
  padding: 10px 20px;
  width: 100px;

  box-shadow: 1px 1px 7px 3px #478fb5;
}

.dropdownMenu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: #3679b3;
  transform: rotate(45deg);
}

.active {
  composes: dropdownMenu;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);

  transition: transform 500ms ease, opacity 500ms ease;
}

.inactive {
  composes: dropdownMenu;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}

.dropdownMenu ul li {
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

.dropdownMenu ul li:hover p {
  color: #bcd409;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}
