.mainTitle {
  padding: 70px;
  font-size: 60px;
  text-align: center;
  text-shadow: 1px 1px 5px #020d22;

  color: #c6dbe8;
}

.title {
  padding: 50px;
  font-size: 70px;
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 1px 1px 5px #9fabc1;

  color: #1627a9;
}
