.header {
  display: flex;
  justify-content: space-around;

  padding: 10px;
}

.link {
  padding: 14px 28px;
  color: #ffffff;
  background-color: #9695d0;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  box-shadow: 1px 1px 7px 1px #8ba8bc;
  letter-spacing: 10px;
  text-transform: uppercase;

  transition: transform 250ms linear;
}

.link:hover,
.link:focus {
  transform: scale(1.05);
}

.link:global(.active) {
  background-color: #aeb23c;
}
